In [1]:
from bs4 import BeautifulSoup

In [17]:
html="<!DOCTYPE html><html><head><title>Page Title</title></head><body><h3><b id='boldest'>Lebron James</b></h3><p> Salary: $92,000,000</p><h3> Stephan Curry</h3><p> Salary: $85,000,000</p><h3> Kevin Durant</h3><p>Salary: $73,200,000</p></body</html>"

In [18]:
soup= BeautifulSoup(html, 'html5lib')

In [19]:
tag_object=soup.title

In [20]:
tag_object

In [21]:
tag_object=soup.h3

In [22]:
tag_object

In [23]:
tag_child=tag_object.b

In [24]:
tag_child

In [26]:
parent_tag=tag_child.parent

In [27]:
parent_tag

In [28]:
sibling_1=tag_object.next_sibling

In [29]:
sibling_1

In [30]:
sibling_2=sibling_1.next_sibling

In [31]:
sibling_2

In [32]:
sibling_3=sibling_2.next_sibling

In [33]:
sibling_3

In [34]:
tag_child.attrs

{'id': 'boldest'}

In [36]:
tag_child.string

'Lebron James'

In [37]:
#beautiful soup object

In [39]:
from bs4 import BeautifulSoup

In [43]:
html="<table><tr><td>Pizza Place</td><td>Orders</td><td>slices</td></tr><tr><td>OnsPizza</td><td>10</td><td>100</td></tr><tr><td>CapuaPizza</td><td>60</td><td>1400</td></tr></table>"

In [46]:
table= BeautifulSoup(html, 'html5lib')

In [47]:
table_row=table.find_all(name="tr")

In [48]:
table_row

[<tr><td>Pizza Place</td><td>Orders</td><td>slices</td></tr>,
 <tr><td>OnsPizza</td><td>10</td><td>100</td></tr>,
 <tr><td>CapuaPizza</td><td>60</td><td>1400</td></tr>]

In [49]:
first_row=table_row[0]

In [50]:
first_row

In [51]:
first_row.td

In [52]:
#variable row

In [53]:
for i,row in enumerate(table_rows):
    print("")

SyntaxError: expected ':' (2701331980.py, line 1)