In [ ]:
import pandas as pd

In [ ]:
id_numbers = {"ahmet", 15578712, "mehmet", 5468721, "sancar", 5588789}

In [ ]:
id_numbers

In [ ]:
dict = {"a": [11,21,31], "b": [54,12,65]}
dict

In [ ]:
df = pd.DataFrame(id_numbers)

In [ ]:
df.head()

In [ ]:
id_numbers={"ahmet":[10145], "mehmet":[15645], "steve":[89545]}

In [ ]:
id_numbers

In [ ]:
df.head()

In [ ]:
df = pd.DataFrame(id_numbers)

In [ ]:
df.head()

In [ ]:
df.mean()

In [1]:
grades = {"ahmet":[45,56,78],"mehmet":[95,65,88],"steve":[25,99,100]}
grades

{'ahmet': [45, 56, 78], 'mehmet': [95, 65, 88], 'steve': [25, 99, 100]}

In [2]:
import pandas as pd

In [3]:
grades

{'ahmet': [45, 56, 78], 'mehmet': [95, 65, 88], 'steve': [25, 99, 100]}

In [4]:
df = pd.DataFrame(grades)

In [5]:
df.head()

   ahmet  mehmet  steve
0     45      95     25
1     56      65     99
2     78      88    100

In [6]:
df.mean()

ahmet     59.666667
mehmet    82.666667
steve     74.666667
dtype: float64

In [7]:
ahmet

NameError: name 'ahmet' is not defined

In [8]:
grades

{'ahmet': [45, 56, 78], 'mehmet': [95, 65, 88], 'steve': [25, 99, 100]}

In [9]:
grades[0]

KeyError: 0