In [1]:
import pandas as pd

In [2]:
#dict oluşturma

In [9]:
data = {
    'isim': ['Ahmet', 'Mehmet', 'Steve'],
    'notlar': [[54,35,89], [45,87,65], [54,38,18]]
}

In [10]:
data

{'isim': ['Ahmet', 'Mehmet', 'Steve'],
 'notlar': [[54, 35, 89], [45, 87, 65], [54, 38, 18]]}

In [5]:
#dict dataframe dönüştürelim

In [11]:
df = pd.DataFrame(data)

In [12]:
df

     isim        notlar
0   Ahmet  [54, 35, 89]
1  Mehmet  [45, 87, 65]
2   Steve  [54, 38, 18]

In [13]:
#ortalama hesaplayalım ve geçti/kaldı tablosu hazırlayalım.

In [15]:
df['Ortalama'] = df['notlar'].apply(lambda x: sum(x) / len(x))
df['Durum'] = df['Ortalama'].apply(lambda x: 'Geçti' if x > 50 else "kaldı")

In [17]:
print(df)

     isim        notlar   Ortalama  Durum
0   Ahmet  [54, 35, 89]  59.333333  Geçti
1  Mehmet  [45, 87, 65]  65.666667  Geçti
2   Steve  [54, 38, 18]  36.666667  kaldı